<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Students</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <script th:src="@{/jquery/jquery-3.7.0.min.js}"></script>
</head>
<body class="container">
<div th:insert="~{default/fragment::nav}"></div>
<a th:href="@{/student/register}">create</a>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Sid</th>
    <th scope="col">Name</th>
    <th scope="col">Birthday</th>
    <th scope="col">Address</th>
    <th scope="col">phone</th>
  </tr>
  </thead>
  <tbody>
  <tr>
  <tr th:each="st: ${list}">
    <td th:text="${st.sid}"></td>
    <td th:text="${st.sname}"></td>
    <td th:text="${st.birthday}"></td>
    <td th:text="${st.province}"></td>
    <td th:text="${st.phone}"></td>
    <td><a th:href="@{/student/update/{id}(id=${st.sid})}">update</a>
    </td>
    <td>
      <a th:href="@{/product/delete/{id}(id=${st.sid})}">delete</a>
    </td>
  </tr>
  </tr>

  </tbody>
</table>
</body>
</html>