<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/jquery/jquery-3.7.0.min.js}"></script>
    <link th:href="@{/MDB5/css/mdb.min.css}" rel="stylesheet"
    />
    <!-- Google Fonts -->
    <script th:src="@{/MDB5/js/mdb.min.js}" ></script>
</head>
<body class="container">
<div th:insert="~{default/fragment::nav}"></div>
</body>
</html>