<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org">
<body>

<h2>UPDATE Customer</h2>
<div style="position: absolute;left: 40%">
  <form action="http://localhost:8080/customer/save" method="post" th:object="${customer}">
    <label for="cusid">id : </label><br>
    <input type="text" th:value="${customer.getCusId()}" name="cusId" id="cusid"  hidden>
    <label for="cusname">cus name:</label><br>
    <input type="text"  th:field="*{cusName}" id="cusname"  ><br>
    <label for="phone">phone:</label><br>
    <input type="text" id="phone" th:field="*{phone}"  ><br>
    <label for="birthday">birthday:</label><br>
    <input type="text" id="birthday" th:field="*{birthDay}"><br><br>
    <label for="aid">aid :</label><br>
    <input type="text" id="aid" th:field="*{aId}"  ><br><br>


    <input type="submit" value="Submit">
  </form>

</div>

</body>
</html>

